.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 550px;
    margin-right: 550px;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    padding:50px 10px 30px 10px;
    background-color: blanchedalmond;

}

.b{
    margin-bottom: 10px;
    border-radius: 20px;
}
.c{
    margin-bottom: 10px;
    border-radius: 20px;
}
.d{
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
    
}

    

a{
    text-decoration: none;
    
}

.of{
    margin-left: 10px;
}

body{
    background-image: url(../../images/Veganic-Farming.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.tr{
    margin-left: 40px;
}
p{
    margin-left: 65px;
}
