body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid gray;
    
}
.but button{
    width: 100px;
    height: 60px;
    margin-bottom: 250px;
    margin-left: 200px;
    border-radius: 30px;
    border-color: white;
    background-color: chocolate;
    
   
    
}
.sms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;

}
.but button:hover{
    background-color: aqua;
    border: aqua;
    cursor: pointer;
    transform: scale(1.1);
}
.but{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 100px;
    text-decoration: none;
}
.button{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.but, .button{
    width: 50%;
    height: 100%;
}
.button button{
    width: 100px;
    height: 60px;
    margin-block-end:auto;
    margin-left: 250px;
    border-radius: 30px;
    border-color: white;
    background-color: chocolate;
    

}
.button button:hover{
    background-color: aqua;
    border: aqua;
    cursor: pointer;
    transform: scale(1.1);
}

.image1{
    width: 70%;
    height: 60%;
}

.abc{
    display:flex;
    flex-direction:row;
}
.ab{
    margin-right: 40px;
    clip-path: circle(40%);
    margin-top: 5px;
}
  div button.tr{
    text-decoration: none;
}
.sum{
    margin-top: 20px;
    margin-right: 30px;
}
a{
    text-decoration: none;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;

}
h2{
    color: green;
}
.f2{
    margin-left: 5%;
}
.f3{
    margin-left:5%;
}
footer{
    margin: 2% 5% 0 5%;

}
.copy{
    text-align: center;
}





