*{
    text-decoration: none;
}
.container{
    margin-top: 20%;
    margin-left: 45%;
    margin-right: 500px;
    background-color:blanchedalmond;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    align-items: center;
    padding:20px 10px 10px 10px;
    

   
}
.card{
    width: 100%!important;
    background: none!important;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
img{
    width: 100%;
    margin-top: 12px;
    
}
form{
    width: 150%;
    margin-top: 12px;
    font-size: large;
    
}
form input{
    width: 58%;
    height: 30px;
    margin-left: 8px;
    border-radius: 5px;
    border-color: white;
}
form input:focus{
    width: 58%;
    height: 30px;
    
    background-color: lightblue;
    font-weight: bold;

}
.submit{
    margin-left: 25%;
    margin-top: 30px;
    border-radius: 5px;
    border-color: deepskyblue;
    background-color: deepskyblue;
    color:white;
    height: 30px;
}
body{
    background: linear-gradient(90deg, #00FFFF 0%, #00FFA1 100%);
}
