*{
    text-decoration: none;
}

.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 35px;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    padding:20px 10px 10px 10px;
    background-color: blanchedalmond;
    
}
h1{
    color: darkgreen;
    
}
form{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
 label{
    margin-top: 20px;
}
.pro input{
    padding: 10px;
    background-color: black;
    color: azure;
    margin-top: 10px;
    border-radius: 20px;
    
}
button{
    margin-left: 50px;
    background-color: coral !important;
  
}
.pro input:hover{
   
    cursor: pointer;
    
}


.a{
    margin-top: 10px;
   

}
.b{
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.c{
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.d{
    margin-bottom: 10px; 
    border: 2px solid black;
    border-radius: 20px;
}
.e{
    margin-bottom: 10px; 
    border: 2px solid black;
    border-radius: 10px;
    
}
.f{
    margin-bottom: 10px; 
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
body{
     
    background-image:url(../../images/img\ 1\ farmer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.g button{
    padding: 10px;
    background-color:  blanchedalmond;
    margin-top: 10px;
    border-radius: 20px;
} 

.to{
    margin-left: 50px;
}
.g{
    margin-left: 10px;
}
.on{
margin-left: 20px;
}
