a{
    text-decoration: none;
}



nav{
    display: flex;
    flex-direction: row;
}
.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    padding:50px 50px 50px 50px;
    background-color: blanchedalmond;
    
}
h2{
    color: darkgreen;
    
}
form{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
 label{
    margin-top: 20px;
}

    

button{
    margin-left: 50px;
    margin-top: 10px;
    background-color: aqua;
    color: azure;
    border-color: aqua;
}
button:hover{
    background-color: rgb(255, 0, 0);
    border: rgb(255, 0, 0);
    cursor: pointer;
    
    
}


.a{
    margin-top: 10px;
   

}
.b{
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.c{
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.d{
    margin-bottom: 10px; 
    border: 2px solid black;
    border-radius: 20px;
}
.e{
    margin-bottom: 10px; 
    border: 2px solid black;
    border-radius: 20px;
    
}
.f{
    margin-bottom: 10px; 
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

.g button{
    padding: 10px;
    background-color:  blanchedalmond;
    margin-top: 10px;
    border-radius: 20px;
} 

.to{
    margin-left: 50px;
}
.g{
    margin-left: 10px;
}
.on{
margin-left: 20px;
}
.si{
    margin-bottom: 5px;
}
.siv{
    margin-top: 10px;
}
